/*------RESET------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*------COLUMNS STYLE------*/

[class*="col-"]{
    background-color: blue;
    min-height: 30px;
    text-align: center;
    border: 1px solid white;
    color: white;
}



.col-1, .col-2, .col-5, .col-12, .col-8, .col-6{
    padding-top: 5px;
}

/*------GREEN BOX------*/
.nasted{
    font-size: 12px;
    background-color: rgb(0, 251, 142);
    border: none;
    text-align: center;
}

.row{
    justify-content: center;
}






